/**
 * Homepage
 */

 .page-content {
    .wrapper {
        max-width: 100%;
        padding: 0px;
        margin: auto;
        .content {
            h2 {
                font-size: 40px;
                color: $brand-color;
            }
        }      
        .home {
            .hero {
                background-image: url('../images/bg_hero.jpg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                min-height: 450px;
                line-height: 450px;
                text-align: center;
                h1 {
                    vertical-align: middle;
                    color: white;
                    text-align: center;
                    line-height: 1.4;
                    font-size: 40px;
                    text-transform: none;
                    display: inline-block;
                    margin: auto;
                    text-shadow: 1px 1px 2px rgba(0,0,0,0.35);
                    span {
                        display: block;
                    }
                }
                @include media-query($on-tablet) {
                    h1 {
                        font-size: 28px;
                        //line-height: 30px;
                    }
                }
                @include bp(max-width, 530px) {
                    h1 {
                        width: 90%;
                        span {
                            display: inline;
                        }
                    }
                }
                @include bp(max-width, 400px) {
                    h1 {
                        font-size: 24px;
                    }
                }
            }
            .content {
                min-height: 650px;
                p {
                    width: 75%;
                    margin: auto;
                }
            }       
        }
        .about {
            background-color: $brand-color;
            overflow: hidden;
            min-height: 450px;
            .content {
                color: #fff;
                margin: 100px auto;
                svg#about {
                    width: 100px;
                    height: 100px;
                    margin: 5px auto;
                    path {
                        //fill: white;
                    }
                }
                h2 {
                    color: #fff;
                    font-size: 40px;
                }
                p {
                    width: 75%;
                    margin: auto;
                }
                .button {
                    background-color: #008ec9;
                    @include transition(background-color .3s ease);
                    &:hover {
                        background-color: lighten($brand-color, 10%);
                    }
                }
            }
        }
        form.contact-form {
            width: 90%;
            margin: auto;
            div.field {
                float: left;
                width: 33%;
                text-align: left;
                margin: 10px auto;
            }
            div.field.full {
                width: 100%;
            }
        }
        @include media-query($on-tablet){
            form.contact-form {
                width: 100%;
                margin: auto;
                div.field {
                    float: none;
                    width: 100%;
                    text-align: left;
                    margin: 10px auto;
                    input.input, textarea {
                        width: 98%;
                    }
                }
            }
        }
    }
 }

 form {
    label {
        display: block;
        text-align: left;
        color: #666;
        padding: 4px 0;
    }
    input.input, textarea {
        border: 2px solid #eee;
        padding: 10px 4px;
        width: 88%;
        outline: none;
        font-size: 18px;
        color: #ccc;
        font-family: $base-font-family;
        &:focus {
            border: 2px solid $brand-color;
            background-color: lighten($brand-color, 62%);
            color: #666;
        }
    }
    textarea {
        width: 95%;
        float: left;
    }
    .button {
        font-size: 16px;
        border: 0;      
        font-family: $base-font-family;
        cursor: pointer;
        
    }
 }
 


/**
 * Page content
 */
.page-content {
    padding: 0;
    h1, h2, h3, h4, h5, h6 {
        text-transform: uppercase;
    }
    .button {
        text-transform: uppercase;
        background-color: $brand-color;
        color: white;
        padding: 14px;
        margin: $spacing-unit auto;
        display: inline-block; 
        max-width: 320px;
        width: 90%;

        @include transition(background-color .3s ease);
        &:hover {
            background-color: lighten($brand-color, 10%);
        }
    }
}

.page-heading {
    font-size: 20px;
}

.content {
    max-width: 1100px;
    text-align: center;
    margin: ($spacing-unit + 20px) auto;
    padding: 0 $spacing-unit;
}


