/*******************
*
* Focal Point Data Soltions - Custom Styles
* custom.scss 
*
********************/
* {
    margin: 0;
}
html {
    position: relative;
    min-height: 100%;
}

body {}


a {
    @include transition(color .3s ease);
    &:hover {
        text-decoration: none;
        color: lighten($brand-color, 25%);
    }
} 

hr {
    border: 0; height:1px; background-color: #eee;
    margin: 30px auto;
}



.wrapper {
    max-width: 1200px;
}













